<div class="wrapper">
    <div *ngIf="user; else loading" style="width: 100%">
        <div>
            <table class="user-details-table">
                <tr>
                    <th colspan="2">
                        User details for {{user.name}}
                    </th>
                </tr>
                <tr>
                    <th>
                        ID
                    </th>
                    <td>
                        {{user.id}}
                    </td>
                </tr>
                <tr>
                    <th>
                        Email
                    </th>
                    <td>
                        {{user.email}}
                    </td>
                </tr>
                <tr>
                    <th>
                        Date Created
                    </th>
                    <td>
                        {{user.created_at}}
                    </td>
                </tr>
                <tr>
                    <th>
                        Email verification date
                    </th>
                    <td>
                        {{user.email_verified_at}}
                    </td>
                </tr>
                <tr>
                    <th colspan="2">
                        <a class="go-back-button" routerLink="/users">
                            <mat-icon>keyboard_backspace</mat-icon>
                        </a>
                    </th>
                </tr>
            </table>
        </div>
    </div>
    <div>

    </div>
</div>
<ng-template #loading>
    <app-loader></app-loader>
</ng-template>
