
.wrapper {
  display: grid;
  place-items: center;

  .user-details-user-name {
    text-transform: uppercase;
  }

  .user-details-table {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: white;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    width: 100%;
    border-spacing: 0;
    padding-left: 24px;
    padding-right: 24px;

    tr {
      height: 48px;
      cursor: pointer;

      &:first-of-type th {
        text-align: center;
        font-weight: bolder;
        color: black;
      }

      th {
        text-align: start;
        padding-right: 24px;
        color: rgba(0, 0, 0, .54);
        font-weight: normal;
      }

      &:not(:last-of-type)th, td {
        border-bottom: 1px solid rgba(0, 0, 0, .12);;
      }

      &:last-of-type th {
        text-align: end;
        font-weight: bolder;
        color: black;
      }

      &:not(:first-of-type):not(:last-of-type) {
        &:hover {
          color: red;
        }
      }
    }
  }
}

