.go-back-button {
  text-decoration: none;
  color: black;
}

.wrapper {
  display: grid;
  place-items: center;
}

.user-details-table {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: white;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  width: 100%;
  border-spacing: 0;
  padding-left: 24px;
  padding-right: 24px;

  tr {
    &:first-of-type th {
      text-align: center;
      font-weight: bolder;
      color: black;
    }

    &:last-of-type th {
      text-align: end;
      font-weight: bolder;
      color: black;
    }

    height: 56px;
  }

  th {
    text-align: start;
    padding-right: 24px;
    color: rgba(0, 0, 0, .54);
    font-weight: normal;
  }

  th, td {
    border-bottom: 1px solid rgba(0, 0, 0, .12);;
  }
}
