<mat-toolbar class="main-menu">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
        <mat-icon>menu</mat-icon>
    </button>
    <a class="header-logo" routerLink="/">User List Mini App</a>
    <mat-menu #menu="matMenu" class="main-menu">
        <a mat-menu-item routerLink="/">
            <a mat-icon-button aria-label="Home" >
                <mat-icon>home</mat-icon>

            </a><span> Home </span>
        </a>
        <a mat-menu-item routerLink="users">
            <a mat-icon-button aria-label="User list" >
                <mat-icon>list_alt</mat-icon>
            </a>
            <span> User List </span>
        </a>
        <a mat-menu-item routerLink="charts/amchart/pie-chart">
            <a mat-icon-button aria-label="Pie Chart" >
                <mat-icon>pie_chart</mat-icon>
            </a>
            <span> amChart - Pie Chart </span>
        </a>
        <a mat-menu-item routerLink="charts/amchart/line-chart">
            <a mat-icon-button aria-label="Line Chart" >
                <mat-icon>stacked_line_chart</mat-icon>
            </a>
            <span> amChart - Line Chart </span>
        </a>
        <a mat-menu-item routerLink="charts/amchart/column-chart">
            <a mat-icon-button aria-label="Column Chart" >
                <mat-icon>bar_chart</mat-icon>
            </a>
            <span> amChart - Column Chart </span>
        </a>
    </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>
